* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#logo {
  height: 50px;
}
nav {
  height: auto;
  background-color: #000000;
  display: flex;
  align-items: center;
  gap: 20px;
  padding-inline: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

body {
  background-color: black;
  height: 100vh;
}
button {
  color: white;
  background-color: #a30000;
  padding: 10px;
  border-radius: 50px;
}
button:hover {
  background-color: #650000;
  transition: 0.5s;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 20px;
  flex-grow: 1;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  /* dans ce qui reste niveau place, il prends 
    ce que tu as besoin en respectant les ratios */
}
nav > ul > li {
  display: inline;
  margin-right: 10px; 
  border-right: 1px solid white; 
  padding-right: 10px; 
}

nav > ul > li:last-child {
  border-right: none;
}
.marginLeft {
  margin-left: auto;
}
.grid {
  display: grid;
  /* height: 100vh; */
  grid-template-columns: 3fr 1fr;
  margin-left: 20px;
  margin-right: 20px;
}

main {
  grid-column: 1/2;
  display: grid;
  flex-basis: auto;
  grid-template-columns: 1fr 1fr;
}
aside {
  color: white;
  grid-column: 2/3;
  height: 100vh;
  margin: 5px;
}
aside > div {
  background-color: #333;
  border-radius: 25px;
  margin: 5px;
  padding: 12px;
}
aside h2 {
  padding: 12px;
}

.Tweet {
  background-color: rgb(28, 28, 28);
  margin: 10px;
  padding: 20px;
  color: white;
  border: solid white 1px;
  border-radius: 25px;
  container-type: inline-size;
  container-name: Tweetcontainer;
}
.Tweet:nth-child(3n) {
  grid-column: 1/2;
}

.Tweet:nth-child(3n + 2) {
  grid-column: 2/3;
}

.Tweet:nth-child(3n + 3) {
  grid-column: 1/3;
}

.Tweet > header {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex: 1 1 0;
  align-items: center;
  margin-bottom: 10px;
}

@container Tweetcontainer (max-width: 500px) {
  .Tweet:nth-child(3n +2) > header {
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex: 1 1 0;
    margin-bottom: 10px;
  }
}

.Tweet > header > div {
  display: flex;
  gap: 5px;
  flex-direction: column;
}


.profilPicture {
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.sticky {
  position: sticky;
  top: 20px;
}

.tendances {
  margin-top: 5px;
}

.tendances:hover {
  background-color: rgb(28, 28, 28);
  transition: 0.5s;
}
.tendances > p:nth-child(1) {
  font-size: 12px;
  opacity: 0.7;
}

.tendances > p:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
}

.tendances > p:nth-child(3) {
  font-size: 10px;
  opacity: 0.5;
}

@media (max-width: 700px) {
  .marginLeft {
    margin-left: 0;
  }
  .Tweet > header {
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex: 1 1 0;
    border-radius: 25px;
    margin-bottom: 10px;
  }
  nav {
    height: auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-inline: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 600px) {
  .Tweet > header {
    display: flex;
    gap: 10px;
    flex-direction: column;
    flex: 1 1 0;
    margin-bottom: 10px;
  }
  M main {
    /* background-color: green; */
    grid-column: 1/2;
    display: grid;
    flex-basis: auto;
    grid-template-columns: 1fr;
  }
  .Tweet {
    background-color: rgb(28, 28, 28);
    margin: 10px;
    border-radius: 25px;
    padding: 20px;
    color: white;
    border-radius: 25px;
  }
  .Tweet:nth-child(3n + 1),
  .Tweet:nth-child(3n + 2),
  .Tweet:nth-child(3n + 3) {
    grid-column: 1/3;
  }
  aside {
    background-color: #333;
    color: white;
    grid-column: 1/2;
    padding: 10px;
    height: auto;
    border-radius: 25px;
  }
  .grid {
    display: grid;
    /* height: 100vh; */
    grid-template-columns: 1fr;
  }
  .sticky {
    order: -1;
    position: inherit;
  }
}
